<html>
  <!-- <head> -->
  <%- include('./partials/head') %>
  <!-- </head> -->
  
  <body>
    <h1> Área Restrita </h1>
    <p> Bem vindo a área restrita, <u>somente usuários logados podem ver essa página!</u> </p>
    
    <!-- Mostra os dados da sessão do usuário logado -->
    <p> Email do Usuário: <%= user.email %> </p>
    <p> Id do Usuário: <%= user.id %> </p>
    
    <!-- Formulário aponta para a rota de logout utilizando o método POST -->
    <form action="/logout" method="POST">
      <button>Fazer Logout</button>
    </form>
  </body>
</html>